*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: normal 100% Raleway, Arial, sans-serif;
}

.project-container {
  display: grid;
  font-family: Raleway;
  font-weight: 700;
  height: 100vh;
  grid-template-columns: 250px auto; 
  grid-template-areas: 
    "left-pane right-pane"; }

.left-pane {
  grid-area: left-pane;
  height: 100vh;
  padding: 0.6em;
  background-color: #2196f3;}

.right-pane {
  display: block;
  background-color: white;
  grid-area: right-pane;
  padding: 0.6em;}


/* MOBILE ONLY */
@media only screen and (max-width: 700px) {
  
  body { font: normal 50% Raleway, Arial, sans-serif; }

  .project-container {
    display: block;
  }

  .left-pane {
    height: 100px;
    transition: .1s linear;
    overflow: hidden;}

  .left-pane.open {
    height: 310px;
  }

  .left-pane.close {
    height: 100px;
  }
  
  .jumbotron { margin: 5em; }

  .nav-icon {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 30px;
    right: 35px;
    background: url('img/menu.gif') center no-repeat;
    background-size: 45px;
    cursor: pointer;
  }
}

/* NAVIGATION BAR */
.nav-bar {
  flex-flow: column nowrap;
  align-items: flex-start;
  color: white;
}

.nav-title {
  font-size: 3em;
  padding: 0.3em 0.5em;
  color: white;
}

.nav-item {
  font-size: 1.1em;
  padding: 1em 0;
  padding-left: 2.6em;
  opacity: 0.8;
}

.nav-item:hover {
  opacity: 1;
  cursor: pointer;
}

.button-add {
  position: absolute;
  height: 80px;
  width: 80px;
  bottom: 1.5em;
  right: 2em;
  background: url('img/add.gif') center no-repeat;
  background-size: 1.9em;
  background-color: #f24d29;
}

/* JUMBOTRON */

.jumbotron {
  background-color: #eeeeee;
  margin: auto;
} 

.todo-item {
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
  align-content: baseline;
  justify-content: space-between;
  font-family: 'Open Sans';
}

.todo-part1 {
  display: flex;
  flex-flow: row nowrap;
  align-content: baseline;
}

.todo-part2 {
  display: flex;
  flex-flow: row nowrap;
  align-content: baseline;
}

.todo-title {
  padding: 0.5em;
}

.todo-btn {
  width: 30px;
  height: 30px;
  border: 1px solid #2196f3;
  margin:  0 0.6em;
}

.todo-imp {
  width: 30px;
  height: 30px;
  border: 1px solid #2196f3;
  background-color: #2196f3;
  margin:  0 0.6em;
}

.todo-dueDate {
  padding: 0.5em;
}

.todo-category {
  padding: 0.5em;
}

/* UTILITIES */

.shadow { box-shadow: 0px 7px 10px -5px rgba(0,0,0,0.6); }

.bold { font-weight: 700; }

.red { background-color: #1c366b; color:white}

.round {border-radius: 100%}

.first-pane .project-title { border-bottom: 1px solid #d3d3d3; }

.border-right { border-right: solid #1c366b}

.border-btn { }
