*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: normal 100% Raleway, Arial, sans-serif;
}

.project-container {
  position: relative;
  display: grid;
  font-family: Raleway;
  font-weight: 700;
  height: 100vh;
  width: 850px;
  grid-template-columns: 250px auto; 
  grid-template-areas: 
    "left-pane right-pane"; }

.left-pane {
  grid-area: left-pane;
  height: 100vh;
  padding: 0.6em;
  background-color: #2196f3;}

.right-pane {
  display: flex;
  flex-flow: column;
  background-color: white;
  grid-area: right-pane;
  padding: 0.6em;}


/* MOBILE ONLY */
@media only screen and (max-width: 950px) {
  
  body { font: normal 50% Raleway, Arial, sans-serif; }

  .project-container {
    display: block;
    width: 100vw;
    margin: 0;
  }

  .left-pane {
    height: 100px;
    transition: .1s linear;
    overflow: hidden;}

  .left-pane.open { height: 380px; }

  .left-pane.close { height: 100px; }
  
  .right-pane h1 { display: none; }

  .jumbotron { margin: 0; }

  .button-add {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0px;
  }
  .nav-icon {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 30px;
    right: 35px;
    background: url('img/menu.gif') center no-repeat;
    background-size: 45px;
    cursor: pointer;
  }
}

/* NAVIGATION BAR */
.nav-bar {
  flex-flow: column nowrap;
  align-items: flex-start;
  color: white;
}

.nav-title {
  font-size: 3em;
  padding: 0.3em 0.5em;
  color: white;
}

.nav-item {
  font-size: 1.1em;
  padding: 1em 0;
  margin: 1em 0;
  padding-left: 2.6em;
  opacity: 0.8;
}

.nav-item:hover {
  opacity: 1;
  cursor: pointer;
}

.button-add {
  position: fixed;
  height: 80px;
  width: 80px;
  bottom: 1.5em;
  right: 2em;
  background: url('img/add.gif') center no-repeat;
  background-size: 1.9em;
  background-color: #f24d29;
  cursor: pointer;
}

/* JUMBOTRON */

.right-pane h1 {
  padding: 0.5em;
  font-size: 3em;
  font-weight: 700;
}

.jumbotron {
} 

.todo-item {
  display: flex;
  flex-flow: row wrap;
  padding: 1.5em 1em;
  justify-content: space-between;
  font-family: 'Open Sans';
}

.todo-part1 {
  display: flex;
  flex-flow: row nowrap;
}

.todo-part2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  font-size: 0.8em;
  padding: 0.5em 0;
}

.todo-title {
  border: none;
  padding: 0.5em;
}

.todo-item input:focus {
  border-bottom: 1px solid #2196f3;
  color: grey;
}

.todo-btn {
  width: 30px;
  height: 30px;
  border: 2px solid #2196f3;
  margin:  0.2em 0.6em;
  align-self: center;
}

[data-type-completed='1'] .todo-btn {
  background: url('img/done.gif') center no-repeat;
  background-size: 20px;
  background-color: #2196f3;
}

[data-type-completed='1'] {
  text-decoration: line-through;
  color: grey;
}


[data-type-importance = '1'] .todo-imp { 
  width: 30px;
  height: 30px;
  margin:  0 0.6em;
  align-self: center;
  background: url('img/imp.gif') center no-repeat; 
  background-size: 30px;}

[data-type-importance = '0'] .todo-imp {
  width: 30px;
  height: 30px;
  margin:  0 0.6em;
  align-self: center;
  background: url('img/notImp.gif') center no-repeat; 
  background-size: 30px;
}

.todo-dueDate { 
  padding: 0.5em;
  border:none;
  width: 6em; }


.todo-category { 
  padding: 0.5em; 
  border:none;
  width: 6em;}

.todo-delete {
  width: 20px;
  height: 20px;
  background: url('img/delete.gif');
  margin:  0.2em;
  align-self: center;
  cursor: pointer;
}

.todo-delete:hover {
  background: url('img/delete2.gif');
}

/* UTILITIES */

.shadow { box-shadow: 0px 7px 10px -5px rgba(0,0,0,0.6); }

.bold { font-weight: 700; }

.red { background-color: #1c366b; color:white}

.round {border-radius: 100%}

.first-pane .project-title { border-bottom: 1px solid #d3d3d3; }

.border-right { border-right: solid #1c366b}

.border-btn { }
